.astro-tweet-theme {
  margin: 1rem auto 0 auto !important;
}

.astro-tweet-theme img,
.astro-tweet-theme video {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* =========================================================================
   Header Styles
   ========================================================================= */

.astro-tweet-theme p a {
  color: var(--tweet-color-blue-secondary) !important;
}
.astro-tweet-theme [class*=username] {
  margin: 0;
  color: var(--tweet-font-color-secondary) !important;
}

.astro-tweet-theme [class*=follow] {
  color: var(--tweet-color-blue-secondary);
}

.astro-tweet-theme [class*=authorLink] {
  color: inherit;
}

.astro-tweet-theme [class*=authorFollow] {
  margin-top: 0;
}

.astro-tweet-theme div[class*=verifiedBlue] {
  margin: 0;
}

.astro-tweet-theme div[class*=verifiedBlue] + [class*=username] {
  margin-left: 0.125rem;
}

.astro-tweet-theme [class*=verified] {
  display: inline;
  height: 1.25em;
  max-width: 20px;
  max-height: 20px;
}

/* =========================================================================
   Body Styles
   ========================================================================= */

.astro-tweet-theme p[class*=root] {
  margin: var(--tweet-body-margin);
}

/* Quoted Tweets */
.astro-tweet-theme article article p[class*=root] {
  margin: var(--tweet-quoted-body-margin);
}

.astro-tweet-theme a[class*=root] {
  color: var(--tweet-font-color-secondary);
}

.astro-tweet-theme div[class*=root] {
  margin-top: 0.75rem;
}

.astro-tweet-theme div[class*=info] {
  margin-top: 0.125rem;
}

.astro-tweet-theme div[class*=info] a {
  color: var(--tweet-font-color-secondary);
}

/* =========================================================================
   Actions Styles
   ========================================================================= */

.astro-tweet-theme div[class*=actions] {
  margin-top: 0.25rem;
}

.astro-tweet-theme [class*="replies"] {
  margin: 0;
}

.astro-tweet-theme [class*="actions"] svg {
  height: var(--tweet-actions-icon-size);
}

.astro-tweet-theme [class*="infoLink"] svg {
  height: var(--tweet-actions-icon-size);
}
