:root {
  --twoslash-underline-color: currentColor;
}

/* Make sure Twoslash popups render in front of everything */
.main-pane {
  z-index: 1;
}

.twoslash {
  position: relative;
}

/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
 .twoslash * {
   transition: none !important;
 }
}

/* ===== Hover Info ===== */
.twoslash .twoslash-hover {
  position: relative;
  border-bottom: 1px dotted transparent;
  transition-timing-function: ease;
  transition: border-color 0.3s;
}

.twoslash:hover .twoslash-hover {
  border-color: var(--twoslash-underline-color);
}

.twoslash .twoslash-popup-container {
  display: none;
}

.twoslash-popup-container {
  position: absolute;
  z-index: 10;
  background: var(--sl-color-bg);
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 4px;
  font-size: 90%;
  overflow-y: auto;
}

.twoslash-popup-code {
  display: block;
  width: fit-content;
  max-width: 600px;
  min-width: 100%;
  padding: 6px 12px;
  color: var(--0);
  font-family: var(--__sl-font) !important;
  font-size: var(--sl-text-code);
  font-weight: 400;
  line-height: var(--sl-line-height);
  white-space: pre-wrap;
}

:root[data-theme="dark"] .twoslash-popup-code {
  color: var(--1, inherit);
}

.twoslash-popup-docs {
  max-width: 700px;
  max-height: 500px;
  padding: 12px;
  border-top: 1px solid var(--sl-color-gray-5);
  color: var(--sl-color-text);
  font-size: var(--sl-text-code);
  font-weight: 400;
  line-height: var(--sl-line-height);
  text-wrap: balance;
}
