.expressive-code span.twoslash.twoerror {
  display: inline;
}

.expressive-code div.twoslash-error-box {
  margin-left: 0;
}

.expressive-code span.twoslash-error-box-content {
  white-space: break-spaces;
}

.expressive-code .twoslash-popup-container {
  --ec-twoSlash-brdCol: var(--ec-gtrFg);
}

.expressive-code .twoslash-popup-container .twoslash-popup-docs .expressive-code pre {
  border: var(--ec-brdWd) solid var(--ec-brdCol) !important;
}

.expressive-code .twoslash-popup-container .twoslash-popup-docs .ec-line {
  line-height: var(--ec-codeLineHt);
}
