.expressive-code .twoslash-popup-container {
  display: none;
  --ec-twoSlash-brdCol: var(--ec-gtrFg);
}

.expressive-code .twoslash-popup-container .twoslash-popup-docs .expressive-code pre {
  border: var(--ec-brdWd) solid var(--ec-brdCol) !important;
}

.expressive-code .twoslash-popup-container .twoslash-popup-docs .ec-line {
  line-height: var(--ec-codeLineHt);
}

.expressive-code .twoslash-popup-container .twoslash-popup-docs code {
  line-height: normal
}
