.arrow {
  position: relative;
  display: inline-block;
  height: 2px;
  margin: 12px 0;
  border-radius: 9999px;
  background-color: #000000;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 19px;
  height: 2px;
  border-radius: 9999px;
  background-color: #000000;
  transform-origin: calc(100% - 1px) 50%;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  transform: rotate(-45deg);
}

@media (prefers-color-scheme: dark) {
  .arrow {
    background-color: #ffffff;
  }

  .arrow::before,
  .arrow::after {
    background-color: #ffffff;
  }
}