---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/SocialIcons.astro";

const links = Object.entries({
  Docs: "/docs/",
  Blog: "/blog/",
  Play: "/play/",
  "Effect Days": "/events/effect-days/",
})
---
<div class="nav-link-container">
	{
		links.map(([text, href]) => (
			<a
				href={href}
				class="nav-link"
			>
				<span>{text}</span>
			</a>
		))
	}
</div>
<Default {...Astro.props} />

<style is:global>
.nav-link-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
}

@media (min-width: 50rem) {
  .nav-link-container {
    @apply text-sm visible;
  }

  .nav-link-container .nav-link {
    @apply px-2;
  }
}

@media (min-width: 64rem) {
  .nav-link-container {
    @apply text-base;
  }

  .nav-link-container .nav-link {
    @apply px-4;
  }
}

.nav-link-container .nav-link {
  @apply text-[--sl-color-text] font-medium no-underline;
}

/* Force the social icons to be the same color as text */
.nav-link-container ~ a {
  @apply text-[--sl-color-text];
}

.nav-link-container .nav-link:hover {
  @apply opacity-65;
}

.nav-link-container ~ a:hover {
  @apply opacity-65;
}
</style>
