@import url("./twoslash-shiki.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(calc(-480px * 4));
  }
  100% {
    transform: translateX(calc(-480px * 8));
  }
}

.dark {
  color-scheme: dark;
}

body.no-scroll {
  @apply fixed w-full h-full overflow-hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.docs-container {
  min-height: calc(100vh - 4rem);
}

.docs-container aside {
  max-height: calc(100vh - 8rem);
}

.mobile-docs-navigation aside {
  max-height: calc(100vh - 3rem);
}

.docs-container main {
  scroll-padding-top: 8rem;
}

.toc details summary::-webkit-details-marker {
  display: none;
}

.prose {
  max-width: calc(100vw - 2rem);
}

.prose code,
.toc code {
  @apply inline-block bg-zinc-100 dark:bg-white/10 border border-zinc-200 dark:border-white/10 px-1 rounded-md font-normal leading-snug;
}
.prose code {
  @apply text-zinc-800 dark:text-zinc-300;
}
.prose h1 code,
.prose h2 code,
.prose h3 code,
.prose h4 code,
.prose h5 code {
  @apply text-black dark:text-white;
}
.prose code::before {
  display: none;
}
.prose code::after {
  display: none;
}
.prose li code {
  @apply !m-0;
}

.prose .code-container {
  @apply p-0;
}
.prose .code-container .line,
.prose pre span[data-line] {
  @apply px-4 text-[#C9D1DA];
}
.shiki code {
  @apply py-4 px-0 min-w-full bg-transparent !important;
}

/* breakpoint sm */
@media (min-width: 640px) {
  .sm\:animate-scroll {
    animation: scroll 50s linear infinite;
  }
  .docs-container {
    min-height: calc(100vh - 6rem);
  }
  .docs-container aside {
    max-height: calc(100vh - 10rem);
  }
  .docs-container main {
    scroll-padding-top: 10rem;
  }
  .docs-container .prose,
  .docs-container .pagination {
    max-width: calc(100vw - 4rem);
  }
}

/* breakpoint md */
@media (min-width: 768px) {
  .docs-container .prose,
  .docs-container .pagination {
    max-width: calc(100vw - 21rem);
  }
}

/* breakpoint lg */
@media (min-width: 1024px) {
  .docs-container .prose,
  .docs-container .pagination {
    max-width: calc(100vw - 25rem);
  }
}

/* breakpoint xl */
@media (min-width: 1280px) {
  .docs-container .prose,
  .docs-container .pagination {
    @apply max-w-2xl;
  }
}

/* breakpoint 2xl */
@media (min-width: 1536px) {
  .docs-container .prose,
  .docs-container .pagination {
    @apply max-w-3xl;
  }
}

/* Algolia instant search */
.ais-SearchBox {
  @apply w-full;
}
.ais-SearchBox-form {
  @apply w-full flex;
}
.ais-SearchBox-input {
  @apply grow focus:outline-none bg-transparent px-2 placeholder-zinc-400 dark:placeholder-zinc-500 text-black dark:text-white;
}
.ais-SearchBox-submit,
.ais-SearchBox-reset {
  @apply hidden;
}
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  @apply bg-transparent font-semibold text-black dark:text-white underline;
}
