@import url("./twoslash-shiki.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-480px * 4));
  }
}

body.no-scroll {
  @apply fixed w-full h-full overflow-hidden;
}

.docs-container {
  min-height: calc(100vh - 4rem);
}

.docs-container aside {
  max-height: calc(100vh - 8rem);
}

.mobile-docs-navigation aside {
  max-height: calc(100vh - 3rem);
}

.docs-container main {
  scroll-padding-top: 8rem;
}

.prose {
  max-width: calc(100vw - 2rem);
}

.prose code,
.toc code {
  @apply inline-block bg-zinc-100 dark:bg-white/10 border border-zinc-200 dark:border-white/10 px-1 rounded-md font-normal leading-snug;
}
.prose code {
  @apply text-zinc-800 dark:text-zinc-300;
}
.prose h1 code,
.prose h2 code,
.prose h3 code,
.prose h4 code,
.prose h5 code {
  @apply text-black dark:text-white;
}
.prose code::before {
  display: none;
}
.prose code::after {
  display: none;
}

.prose .code-container {
  @apply p-0;
}
.prose .code-container .line,
.prose pre span[data-line] {
  @apply px-4;
}
.shiki code {
  @apply py-4 px-0 min-w-full bg-transparent !important;
}

/* breakpoint sm */
@media (min-width: 640px) {
  .sm\:animate-scroll {
    animation: scroll 50s linear infinite;
  }
  .docs-container {
    min-height: calc(100vh - 6rem);
  }
  .docs-container aside {
    max-height: calc(100vh - 10rem);
  }
  .docs-container main {
    scroll-padding-top: 10rem;
  }
  .prose {
    max-width: calc(100vw - 4rem);
  }
}

/* breakpoint md */
@media (min-width: 768px) {
  .prose {
    max-width: calc(100vw - 21rem);
  }
}

/* breakpoint lg */
@media (min-width: 1024px) {
  .prose {
    max-width: calc(100vw - 25rem);
  }
}

/* breakpoint lg */
@media (min-width: 1280px) {
  .prose {
    @apply max-w-2xl;
  }
}
