@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-480px * 4));
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
