@import url('./twoslash-shiki.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-480px * 4));
  }
}

body.no-scroll {
  @apply fixed w-full h-full overflow-hidden;
}

.docs-container {
  min-height: calc(100vh - 4rem);
}

.docs-container aside {
  max-height: calc(100vh - 8rem);
}

.docs-container main {
  scroll-padding-top: 8rem;
}

/* breakpoint sm */
@media (min-width: 640px) {
  .sm\:animate-scroll {
    animation: scroll 50s linear infinite;
  }
  .docs-container {
    min-height: calc(100vh - 6rem);
  }
  .docs-container aside {
    max-height: calc(100vh - 10rem);
  }
  .docs-container main {
    scroll-padding-top: 10rem;
  }
}


code {
  box-decoration-break: slice;
  font-feature-settings:
    'rlig' 1,
    'calt' 1,
    'ss01' 1;

  &[data-line-numbers] > [data-line] {
    @apply pl-2;
    &::before {
      counter-increment: line;
      content: counter(line);
      @apply h-full float-left pr-4 text-right min-w-[2.6rem] text-gray-500;
    }
  }

  [data-line] {
    &.highlighted {
      @apply bg-blue-600/10 text-blue-600/50 shadow-[2px_0_currentColor_inset];
    }
    .highlighted {
      @apply rounded-sm shadow-[0_0_0_2px_rgba(0,0,0,.3)];
      @apply bg-blue-800/10 shadow-blue-800/10;
      @apply dark:bg-blue-300/10 dark:shadow-blue-300/10;
    }
  }
}

pre {
  /* content-visibility: auto; */
  contain: paint;

  code {
    @apply grid min-w-full rounded-none border-none !bg-transparent !p-0 text-sm leading-5 text-current dark:!bg-transparent;
    .line {
      @apply px-4;
    }
  }

  &:not([data-theme]) {
    @apply px-4;
  }

  html[data-nextra-word-wrap] & {
    word-break: break-word;
    @apply whitespace-pre-wrap md:whitespace-pre;
    .line {
      @apply inline-block;
    }
  }

  .nextra-copy-icon {
    animation: fade-in 0.3s ease forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .nextra-button {
    @apply backdrop-blur-md bg-opacity-[.85] dark:bg-opacity-80;
  }
}

.nextra-steps h3 {
  counter-increment: step;

  &:before {
    @apply absolute w-[33px] h-[33px];
    @apply border-4 border-white bg-gray-100 dark:border-[#09090B] dark:bg-neutral-800;
    @apply rounded-full text-neutral-400 text-base font-normal text-center -indent-px;
    @apply mt-[3px] ml-[-41px];
    content: counter(step);
  }
}