---
export interface Props {
  readonly transcript: ReadonlyArray<{
    readonly id: string
    readonly startTime: string
    readonly startSeconds: number
    readonly endTime: string
    readonly endSeconds: number
    readonly text: string
  }>
}

const { transcript } = Astro.props
---

<section>
  <h2 class="mt-8 !text-3xl !lg:text-4xl">Transcript</h2>
  <ul class="not-content mt-8 pl-2 space-y-2" data-pagefind-ignore>
    {transcript.map((line) => (
      <li class="flex items-baseline gap-4 p-0">
        <div class="text-xs text-muted-foreground font-mono shrink-0 select-none">
          {line.startTime.split(",")[0]}
        </div>
        <div class="leading-snug">
          {line.text}
        </div>
      </li>
    ))}
  </ul>
</section>
