@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("./twoslash.css"); */

:root {
    --nextra-banner-height: 60px
}

.nextra-banner-container {
    height: var(--nextra-banner-height);
    background: #5227A6 !important;
}
